{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SKILLS</h1>
</div>

<!-- First Row -->
<div class="row text-white">
    <div class="col-sm-5">
        <h3 class="mt-5">HTML/CSS</h3>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width:100%" aria-valuemin="0" aria-valuemax="100">100%</div>
        </div>
    </div>
    <div class="col-sm-5 offset-sm-1">
        <h3 class="mt-5">JavaScript</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:60%" aria-valuemin="0" aria-valuemax="100">60%</div>
        </div>
    </div>
</div>


<!-- Second Row -->
<div class="row text-white">
    <div class="col-sm-5">
        <h3 class="mt-5">Java Programming</h3>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width:80%" aria-valuemin="0" aria-valuemax="100">80%</div>
        </div>
    </div>
    <div class="col-sm-5 offset-sm-1">
        <h3 class="mt-5">Python</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:95%" aria-valuemin="0" aria-valuemax="100">95%</div>
        </div>
    </div>
</div>


<!-- Third Row -->
<div class="row text-white">
    <div class="col-sm-5">
        <h3 class="mt-5">SQL</h3>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width:22%" aria-valuemin="0" aria-valuemax="100">22%</div>
        </div>
    </div>
    <div class="col-sm-5 offset-sm-1">
        <h3 class="mt-5">Django</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:55%" aria-valuemin="0" aria-valuemax="100">55%</div>
        </div>
    </div>
</div>


<!-- Fourth Row -->
<div class="row text-white">
    <div class="col-sm-5">
        <h3 class="mt-5">Dart</h3>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width:45%" aria-valuemin="0" aria-valuemax="100">45%</div>
        </div>
    </div>
    <div class="col-sm-5 offset-sm-1">
        <h3 class="mt-5">Julia Programming</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:35%" aria-valuemin="0" aria-valuemax="100">35%</div>
        </div>
    </div>
</div>
{% endblock content %}
