<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>STU Details</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Students</h1>
        {% if stu %}
            <h1>Show Data</h1>
            <table>
                <tr>
                    <th>ID</th>
                    <th>StuID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            {% comment %} <!-- {% for st in stu %} --> {% endcomment %}
            <tr>
                <td>{{stu.id}}</td>
                <td>{{stu.stuid}}</td>
                <td>{{stu.stuname}}</td>
                <td>{{stu.stuemail}}</td>
                <td>{{stu.stupass}}</td>
            </tr>
            {% comment %} <!-- {% endfor %} --> {% endcomment %}
        </table>
        {% else %}
            <h1>No Data</h1>        
        {% endif %}
    </body>
</html>
