{% extends "blog/base.html" %}
{% load static %}
{% block title %}About{% endblock title %}
{% block content %}
    <div class="col-sm-10">
        <h3 class="text-white my-5">About Page</h3>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore provident recusandae ratione facilis maiores? Inventore ex asperiores ut numquam esse, mollitia at similique sit modi officia iusto vero totam non!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis doloremque laborum dolore, ad similique excepturi voluptates! Aliquam velit cumque dolor modi accusamus molestias iure laborum assumenda sequi! Cum, dignissimos nisi, quibusdam optio sunt est similique dolorem, eius dolorum sit delectus perspiciatis ea beatae rem quo tempore numquam nemo aperiam blanditiis!</p>
    </div>
{% endblock content %}
