<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            table, th, tr, td {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <table>
            <h3>Student Information</h3>
            <th>ID</th>
            <th>Name</th>
            <th>Roll</th>
            {% for student in students %}
                <tr>
                    <td>{{student.id}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.roll}}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>